# exportPattern("^[[:alpha:]]+")
export(PCG)
importFrom("psych", "mixedCor", "fisherz", "fisherz2r")
importFrom("qgraph", "cor_auto")
importFrom("stats", "cor")
importFrom("EGAnet", "EGA")
importFrom("mclust", "Mclust", "mclustBIC")
importFrom("pcalg", "skeleton", "pc", "gaussCItest")
importFrom("bnlearn", "pc.stable", "hc", "mmhc", "amat")
