# exportPattern("^[[:alpha:]]+")
export(PCG)
export(amat2lavaan)
importFrom("psych", "mixedCor", "fisherz", "fisherz2r")
importFrom("qgraph", "cor_auto")
importFrom("stats", "cor")
importFrom("EGAnet", "EGA")
importFrom("igraph", "graph_from_graphnel", "as_adjacency_matrix")
importFrom("mclust", "Mclust", "mclustBIC")
importFrom("pcalg", "skeleton", "pc", "gaussCItest", "dag2cpdag")
importFrom("bnlearn", "pc.stable", "hc", "mmhc", "amat")
